body, html {
  font-family: 'Courier New', Courier, monospace;
}

body {
  background: url('dngbg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: lightgray;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

/* Container for terminal window */
.terminal {
  background-color: rgba(0,0,0,0.7);
  color: lightgray;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 10px;
  white-space: pre; /* Preserves whitespace and line breaks */
  overflow: auto;
}

.terminal.with-wrap {
  white-space: initial;
}

.terminal b {
  color: green;
}

/* Optional styling for text selection */
.terminal::selection {
  background: gray;
  color: black;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.green {
  color: green;
  font-weight: bold;
}

@media print
{    
  .switch, .no-print {
    display: none !important;
  }
  .terminal {
    color: black !important;
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.formGroup input[type="number"] {
  max-width: 64px;
  padding: 4px;
  font-size: 16px;
}

.formLike {
  display: flex;
  justify-content: space-between;
}